h1 {
	text-align: center;
}

table.mytable {
    width: 100%;
}

table.mytable thead {
    background-color: #eee;
    text-align: left;
}

table.mytable thead th {
    border: solid 1px #fff;
    padding: 3px;
}

table.mytable tbody td {
    border: solid 1px #eee;
    padding: 3px;
}

a, a:hover, a:active, a:visited {
    color: blue;
    text-decoration: underline;
}

#loginPage {
	text-align: center;
	margin: auto;
}

.capa-album {
	display: inline-block;
	height: 250px;
	max-width: 350px;
	text-align: center;
}

.img-item {
	height: 200px;
	width: 340px;
}

#capa {
	display: inline-block;
	vertical-align: top;
}

#album-form {
	display: inline-block;
}

#album-imagens>div {
	display: inline-block;
	height: 250px;
	max-width: 350px;
	text-align: right;
	
}

#album-imagens>div>label {
	display: block;	
}

#excluir-imagens-selecionadas {
	display: inline-block;
}